body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 30px;
    background-color: #f8f8f8;
}

/* Table Styles */
th {
    background-color: rgb(97, 211, 242);
    color: white;
    padding: 10px 20px;
    text-align: left;
}

td {
    padding: 8px 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Input Styles */
input[type="text"] {
    width: 1in;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

/* Form Styles */
form {
    max-width: 100%;
    margin: auto 30px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

label { 
/*    width: 40%;*/
    display: inline-block;
    font-weight: bold;
    margin: 10px;
    float: left; 
    clear: left;
}

input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


input[type="submit"] {
    background-color: rgb(97, 211, 242);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
    margin: 0 37.5%;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

/* Buttons Styles */
button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

/* Header Styles */
h2, h3 {
    color: #333;
}

/* Results Display Styles */
pre, #searchResults {
    background-color: #f8f8f8;
    padding: 10px;
}

/* Miscellaneous Styles */
hr {
    border-top: 5px solid black;
}
