body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

/* Search Styles */
#searchInput {
    width: 70%;
    height: 30px;
}

.error {
    border: 2px solid red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Table Styles */
th {
    background-color: rgb(97, 211, 242);
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 8px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;

    table-layout: auto;
}

table, th, td {
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Buttons Styles */
button {
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;

    font-size: 16px;
    text-align: center;
    text-decoration: none;

    border: 2px solid rgb(97, 211, 242);
    color: rgb(97, 211, 242); 
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; 

    cursor: pointer;
}

button:hover {
    background-color: rgb(97, 211, 255);
    color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.buttonContainer {
    display: flex;
    justify-content: space-between;

    width: 100%;
}


/* Header Styles */
h2, h3 {
    color: #333;
}

/* Results Display Styles */
pre, #searchResults {
    background-color: #f8f8f8;
    padding: 10px;
}

/* Miscellaneous Styles */
hr {
    border-top: 5px solid black;
}