<!DOCTYPE html>
<html>
<head>
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="../css/homepage_style.css">
</head>
<body>

    <div id="navigation_bar">
        <h1 id="logo"> CyberTRIP </h1>
        <a class="links" href=homepage.html>About</a>
        <a class="links" href=login.html>Login</a>
        <a class="links" href=create_user.html>Sign Up</a>
    </div>

    <h1 class="header"> Welcome to CyberTRIP: Cyber Triage & Response Incident Platform </h1>
    <h3> 
        A comprehensive web-based tool designed to track, manage, and prioritize 
        cyber security incidents in real-time. Integrated with leading external 
        cybersecurity APIs, CyberTRIP provides an all-in-one solution to swiftly 
        respond to threats, ensuring digital assets remain secure. The application 
        will provide functionality to add and save incidents by name, type, 
        location, and more. It will be able to store them in a searchable database 
        to be able to search and generate statistics. All data can be exported to 
        csv or similar formats. Tools associated with different types of incident 
        response will be accessible on the dashboard via API.
    </h3>

    <h1 class="header"> Services </h1>

    <div id="card_container"> 

        <div class="flip-card">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1> Report and Respond to Incidents </h1>
            </div>
            <div class="flip-card-back">
                <p>Blah Blah</p>
                <p>details details</p>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1> Cybersecurity Tools </h1>
            </div>
            <div class="flip-card-back">
                <p>Blah Blah</p>
                <p>details details</p>
            </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1> Analytics </h1>
            </div>
            <div class="flip-card-back">
                <p>Blah Blah</p>
                <p>details details</p>
            </div>
            </div>
        </div>

    </div>
    
</body>
</html>