<!-- File: templates/incident_details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incident Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/incident_details_style.css') }}">
    <script src="https://kit.fontawesome.com/761f285885.js" crossorigin="anonymous"></script>

</head>
<body>

    <div id="header">
        <h1 id="logo"> CyberTRIP </h1>
        <!-- Any other header buttons or elements can be added here -->
    </div>

    <section>
        <div id="navigation">

            <!-- URL Scan section -->
            <div id="urlScanDiv">
                <h2>URL Scan</h2>
                <input type="text" id="url" placeholder="Enter URL">
                <button class="buttons" id="urlscanButton" onclick="performUrlScan()">Scan URL</button>
                <pre id="urlscanResult" style="background-color: #f8f8f8; padding: 10px;">Results will appear here.</pre>
                <div id="resultLinkContainer"></div> <!-- Container for scan result link -->
            </div>

            <h2>Incident Details</h2>
            <table id="details-table">
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
                <!-- Iterate over the incident data and create a table row for each key-value pair -->
                {% for key, value in incident.items() %} 
                    <!-- User doesnt need to see the id number -->
                    {% if key != '_id' %}
                        <tr>
                            <td>{{ key }}</td>
                            {% if key == 'tasks' %}
                                <!-- Display the number of tasks if the key is 'tasks' -->
                                <td>{{ value|length }}</td>
                            {% else %}
                                <!-- Check if the value is a URL and add a specific class -->
                                <td class="{{ 'url-field' if 'url' in key.lower() else '' }}">{{ value }}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <h2>Tasks</h2>

            <!-- Here we iterate over each task and create a new table for each one -->
            {% if incident.tasks and incident.tasks|length > 0 %}
            <!-- Here we iterate over each task within the incident's task list -->
            {% for task in incident.tasks %}
            <h3>Task Details</h3>

            <table id="task-table-{{ task.task_number }}">
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
                <!-- Now, iterate over the key-value pairs in the current task -->
                {% for key, value in task.items() %}
                <tr>
                    <td>{{ task_keys[key] }}</td>
                    <td>{{ value }}</td>
                    <td><i class="fa-solid fa-pencil" onclick="editTask('task-table-{{ task.task_number }}');"></i></td>
                </tr>
                {% endfor %}
            </table>
            <br> <!-- Add a space between tables -->
            {% endfor %}
            {% else %}
            <p>No tasks available for this incident.</p>
            {% endif %}

            <form action="{{ url_for('update_task', incident_id=incident['_id']) }}" method="post" id="updateTask" class="hidden">
                <button id="cancelUpdate" onclick="cancelUpdate(event);">Cancel</button>
                <div>
                    <label for="status">Status:</label>
                    <select name="status" id="status">
                        <option value="new">New</option>
                        <option value="in_progress">In Progress</option>
                        <option value="closed">Closed</option>
                    </select><br>
                </div>

                <div>
                    <label for="assigned to">Assigned To:</label>
                    <input type="text" id="assigned to" name="assigned to"><br>
                </div>


                <div>
                    <label for="priority">Priority:</label>
                    <select name="priority" id="priority">
                        <option value="urgent">Urgent</option>
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select><br>
                </div>
                <div>
                    <label for="task notes">Task Notes:</label>
                    <textarea id="task notes" name="task notes"></textarea><br>
                </div>

                <input type="submit" value="Update Task" onclick="showTasks()">
            </form>



            <!-- Existing incident details layout... -->

            <h3>Add New Task</h3>
            <form action="{{ url_for('add_task', incident_id=incident['_id']) }}" method="post">
                <div>
                    <label for="status">Status:</label>
                    <select name="status" id="status">
                        <option value="new">New</option>
                        <option value="in_progress">In Progress</option>
                        <option value="closed">Closed</option>
                    </select><br>
                </div>

                <div>
                    <label for="assigned_to">Assigned To:</label>
                    <input type="text" id="assigned_to" name="assigned_to"><br>
                </div>


                <div>
                    <label for="priority">Priority:</label>
                    <select name="priority" id="priority">
                        <option value="urgent">Urgent</option>
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select><br>
                </div>
                <div>
                    <label for="task_notes">Task Notes:</label>
                    <textarea id="task_notes" name="task_notes"></textarea><br>
                </div>

                    <input type="submit" value="Add Task">
            </form>

        </div>

        <!-- <div id="incidentDetails" style="display: none">
            <div id="statusBar">
                <button>New</button>
                <button>Open</button>
                <button>Closed</button>
            </div>


        </div> -->
    </section>
    

        <!-- <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Function to perform URL scan


                // Attach the event handler to the URL scan button
                document.getElementById('urlscanButton').addEventListener('click', performUrlScan);

                // Make URLs in URL fields clickable and add click event listeners
                var urlFields = document.querySelectorAll('.url-field'); // Assuming URLs are marked with a specific class
                urlFields.forEach(function (field) {
                    var url = field.textContent || field.innerText;
                    if (url) {
                        field.innerHTML = `<a href="#" onclick="performUrlScanWithUrl('${url}'); return false;">${url}</a>`;
                    }
                });
            });

            // Function to initiate URL scan with a specific URL
            function performUrlScanWithUrl(url) {
                document.getElementById('url').value = url; // Set the URL in the input field
                // Here, instead of calling performUrlScan directly, we trigger a click on the button.
                document.getElementById('urlscanButton').click(); // This simulates clicking the button, thereby submitting the form.
            }
        </script> -->
        <script>
            function performUrlScan() {
                var urlToScan = document.getElementById('url').value;  // Get the URL from the input field.

                if (!urlToScan) {
                    alert("Please enter a URL to scan.");
                    return;
                }

                fetch('/urlscan?url=' + encodeURIComponent(urlToScan), {
                    method: 'GET',  // Using 'GET' method.
                    headers: {
                        'Accept': 'application/json',  // Telling the server we expect JSON.
                        // Include additional headers if needed.
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();  // Parses the JSON response.
                    })
                    .then(data => {
                        if (data.error) {
                            console.error("Error:", data.error);
                            return;
                        }

                        if (data.result) {
                            // Clear previous contents
                            let resultContainer = document.getElementById('resultLinkContainer');
                            resultContainer.innerHTML = '';

                            // Create a countdown element.
                            let countdownElement = document.createElement('div');
                            countdownElement.id = "countdown";
                            countdownElement.innerText = "Opening in 20 seconds...";
                            resultContainer.appendChild(countdownElement);

                            // Create a clickable link for the user.
                            let linkElement = document.createElement('a');
                            linkElement.href = data.result;
                            linkElement.target = "_blank";
                            linkElement.innerText = "Click here if you are not redirected.";
                            resultContainer.appendChild(linkElement);

                            // Begin the countdown.
                            let counter = 20;
                            let interval = setInterval(() => {
                                if (counter === 0) {
                                    clearInterval(interval);
                                    countdownElement.innerText = "Redirecting...";
                                    window.open(data.result, '_blank');
                                } else {
                                    countdownElement.innerText = "Opening in " + counter + " seconds...";
                                }
                                counter--;
                            }, 1000);
                        }
                    })
                    .catch(error => {
                        console.error('Error during URL scan:', error);
                        document.getElementById('urlscanResult').textContent = 'Error occurred during URL scan.';
                    });
            }

            function editTask(taskID) {
                // Get the table element
                var table = document.getElementById(taskID);

                // Get the form element
                var form = document.getElementById('updateTask');

                // Iterate over the rows in the table 
                for (var i = 1; i < table.rows.length; i++) {
                    // Get the key and value from the table row
                    var key = table.rows[i].cells[0].innerText.trim();
                    var value = table.rows[i].cells[1].innerText.trim();

                    console.log(key + ' ' + value)

                    // Find the corresponding input/select element in the form
                    var inputElement = form.querySelector('[name="' + key.toLowerCase() + '"]');

                    // Update the value of the input/select element
                    if (inputElement) {
                        inputElement.value = value;
                    }
                }

                toggleHidden()
            }

            function showTasks() {
                // toggleHidden()
            }

            function toggleHidden() {
                var taskTable = document.getElementById("task-table")
                var updateTaskForm = document.getElementById("updateTask")

                taskTable.classList.toggle("hidden")
                updateTaskForm.classList.toggle("hidden")
            }


            function cancelUpdate(event) {
                // Prevent the default button click behavior
                event.preventDefault();

                var form = document.getElementById('updateTask');
                form.classList.toggle('hidden');
                form.reset();
            }

        </script>

</body>
</html>

