<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../css/login_signup_style.css">
</head>
<body>

    <div id="navigation_bar">
        <h1 id="logo"> CyberTRIP </h1>
        <a class="links" href=homepage.html>About</a>
        <a class="links" href=login.html>Login</a>
        <a class="links" href=create_user.html>Sign Up</a>
    </div>

    <form id="panel" action="/login" method="post">
        Username: <input class="items" type="text" name="username"><br>
        Password: <input class="items" type="password" name="password"><br>
        <input class="items" id="button" type="submit" value="Login">
    </form>
</body>
</html>
